@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 13% 95%;
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 9% 89%;
    --secondary-foreground: 224 71% 4%;
    --muted: 220 9% 89%;
    --muted-foreground: 220 9% 45%;
    --accent: 261 43% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 88%;
    --input: 220 13% 88%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 261 43% 63%;
    --chart-3: 220 13% 65%;
    --chart-4: 231 48% 68%;
    --chart-5: 261 43% 83%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 4%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 220 13% 95%;
    --sidebar-accent-foreground: 231 48% 48%;
    --sidebar-border: 220 13% 88%;
    --sidebar-ring: 231 48% 48%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 220 13% 95%;
    --card: 224 71% 4%;
    --card-foreground: 220 13% 95%;
    --popover: 224 71% 4%;
    --popover-foreground: 220 13% 95%;
    --primary: 231 48% 48%;
    --primary-foreground: 0 0% 98%;
    --secondary: 220 13% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 220 13% 15%;
    --muted-foreground: 220 9% 65%;
    --accent: 261 43% 63%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 13% 15%;
    --input: 220 13% 15%;
    --ring: 231 48% 48%;
    --chart-1: 231 48% 48%;
    --chart-2: 261 43% 63%;
    --chart-3: 220 13% 45%;
    --chart-4: 231 48% 38%;
    --chart-5: 261 43% 53%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 220 13% 95%;
    --sidebar-primary: 231 48% 48%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 220 13% 15%;
    --sidebar-accent-foreground: 231 48% 48%;
    --sidebar-border: 220 13% 15%;
    --sidebar-ring: 231 48% 48%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
